@model Logs.Web.Models.Search.SearchViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel">
    @using (Ajax.BeginForm("Search", new { }, new AjaxOptions()
    {
        HttpMethod = "Post",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
    }, new { id = "ajaxForm" }))
    {
        @Html.TextBoxFor(m => m.SearchTerm, new { id = "search-box" })
    }
</div>
<div id="results" class="panel">
</div>

@section scripts{
    <script src="~/Scripts/search.js"></script>

    @Scripts.Render("~/bundles/jquery-unobtrusive")
}

