@model Logs.Web.Models.Search.SearchViewModel

@{
    ViewBag.Title = "Index";
}

<div class="panel">
    @using (Ajax.BeginForm("Search", new { }, new AjaxOptions()
    {
        HttpMethod = "Post",
        UpdateTargetId = "results",
        InsertionMode = InsertionMode.Replace,
    }, new { id = "ajaxForm" }))
    {
        @Html.TextBoxFor(m => m.SearchTerm, new { id = "search-box" })
    }
</div>
<div id="results" class="panel">
</div>

@section scripts{
    <script>
        $('#search-box').keyup(function () {
            if ($('#search-box').val().length > 0) {
                $('#ajaxForm').submit();
            }
        })
    </script>

    @Scripts.Render("~/bundles/jquery-unobtrusive")
}

