@model Logs.Web.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Logs</h1>
    <p class="lead">If you haven't been keeping a workout log, it's about time you start.</p>
    @if (Model.IsAuthenticated)
    {
        <a href="mylog" class="btn btn-primary btn-lg">My Log &raquo;</a>
    }
    else
    {
        @Html.ActionLink("Get Started", "Register", "Account", routeValues: null, htmlAttributes: new { @class = "btn btn-primary btn-lg" })
    }
     @Html.ActionLink("Browse", "List", "Logs", null, new { @class = "btn btn-primary btn-lg" })

</div>

<div class="row">
    <div class="col-md-6">
        <h2>Hottest</h2>
        @Html.Action("TopLogs", new { controller = "Logs" })
    </div>
    <div class="col-md-6">
        <h2>Latest</h2>
        @Html.Action("Latest", new { controller = "Logs" })
    </div>
</div>