@model Logs.Web.Models.Nutrition.InputViewModel

@{
    ViewBag.Title = "Input";
}
<link rel="stylesheet" href="/Content/bootstrap-datetimepicker.css" />
<h2>Input</h2>

@using (Html.BeginForm("Input", "Nutrition", null, FormMethod.Post, new { @class = "form-horizontal form col-md-12 center-block", role = "form" }))
{
    <div class='col-sm-3'></div>
    <div class='col-sm-6'>
        @Html.LabelFor(m => m.Date)
        @Html.TextBoxFor(m => m.Date, new { @class = "form-control", id = "datetimepicker", data_format = "DD/MM/YYYY" })
        <hr />
        <input type="submit" class="btn btn-primary" value="GO" />
    </div>
}
<hr />

@section scripts{
    <script type="text/javascript" src="/scripts/moment.min.js"></script>
    <script type="text/javascript" src="/scripts/bootstrap-datetimepicker.js"></script>

    <script type="text/javascript">
        $(function () {
            $('#datetimepicker').datetimepicker({
                format: 'DD/MM/YYYY'
            });
        });
    </script>
}
