
@{
    ViewBag.Title = "NoLog";
}

<div class="jumbotron">
    <h1>Oops</h1>
    <p class="lead">It appears that you do not have a log.</p>

    @Html.ActionLink("Start a Log", "CreateLog", "Logs", null, new { @class = "btn btn-primary btn-lg" })
</div>
