@model System.Collections.Generic.IEnumerable<Logs.Web.Models.Logs.CommentViewModel>

@if (Model.Any())
{
    @:Comments:
    foreach (var comment in Model)
    {
        <div class="media">
            <div class="media-body">
                <h4 class="media-heading">
                    @Html.ActionLink(@comment.User,
           "Details",
           new { controller = "Profile", name = comment.User })

                    <small>@string.Format("{0:MM dd, yyyy} at {0:HH:mm}", comment.Date)</small>
                </h4>
                @comment.Content

            </div>
        </div>
    }
}