body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#entry-form,
#comment-form,
#edit-form {
    display: none;
}

pre {
    font-size: 18px;
}

#description {
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.media-body {
    padding-left: 10%;
}

.glyphicon-thumbs-up {
    font-size: 35px;
}

textarea {
    resize: none;
    width: 100%;
    height: 400px;
    max-width: none;
    font-size: 18px;
}
