body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

#entry-form,
#comment-form,
#edit-form,
.edit-entry,
.edit-comment,
#edit-stats,
#upload-btn {
    display: none;
}

pre {
    font-size: 18px;
}

#description {
    background-color: transparent;
    border: none;
    font-size: 24px;
}

.media-body {
    padding-left: 10%;
}

.glyphicon-thumbs-up {
    font-size: 35px;
}

textarea {
    resize: none;
    width: 100%;
    height: 400px;
    max-width: none;
    font-size: 18px;
}

#user-description {
    height: 150px;
}

.user-stats-input {
    width: 50px;
}

#profile-img {
    object-fit: cover;
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

#profile-pic-img,
#profile-pic {
    object-fit: cover;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}

#picture-display {
    text-align: center
}

body {
    background-color: #cccccc;
    color: #083045;
}

a,a:hover {
    color: #083045;
    text-decoration: none;
}