
@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    @Html.ActionLink("Manage Users", "Index", "UserAdministration", null, new { @class = "btn btn-primary btn-lg" })

    @Html.ActionLink("Manage Logs", "List", "Logs", null, new { @class = "btn btn-primary btn-lg" })
</div>
